@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html{
    scroll-behavior: smooth
}

body{
    background: black;
    color: #a13333;
    font-family: 'Libre Baskerville', serif;
    overflow-x: hidden;
}

.container{
    position: relative;
}

.header{
    font-size: 10vw;
    writing-mode: vertical-lr;
    letter-spacing: 1.0vw;
    float: left;
    margin-left: -16vw;
    margin-right: -10vw;
    position: absolute;
}

.titleflicker {
    animation: titleflicker 8s linear infinite both;
    color: white;
}

@keyframes titleflicker {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }


.navigation{
    top: 15vmin;
    z-index: 1;
    position: sticky;
    margin-left: 15vmin;
}
.navigation-content{
    list-style-type: none;
    font-size: 5vmin;
}

.navigation-content a{
    text-decoration: none;
    color: #B3541E;
}

.navigation-content:hover a{
    opacity: 0.5;
}

.navigation-content a:hover{
    color: white;
    transition: 100ms;
    opacity: 1;
}

.column {
    float: right;
    width: 10%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.imageslider-content{
    width: 20vmin;
    border-radius: 2vmin;
}

#fourthslider {
    animation: slide-in-top-one 50s linear infinite;
    margin: 10px;
}
    
#secondslider{
    animation: slide-in-top-two 40s linear infinite;
    margin: 10px;
}

#thirdslider{  
    animation: slide-out-top-three 50s linear infinite ;
    margin: 10px;
}

#firstslider{
    animation: slide-out-top-four 40s linear infinite ;
    margin: 10px;
}

@keyframes slide-in-top-one {
    0% {
              transform: translateY(-1760px);
      opacity: 1;
    }
    100% {
              transform: translateY(-400px);
      opacity: 1;
    }
  }

  @keyframes slide-in-top-one {
    0% {
              transform: translateY(-1760px);
      opacity: 1;
    }
    100% {
              transform: translateY(-400px);
      opacity: 1;
    }
  }

 
  @keyframes slide-in-top-two {
    0% {

              transform: translateY(-1920px);
      opacity: 1;
    }
    100% {

              transform: translateY(-475px);
      opacity: 1;
    }
  }

 
  @keyframes slide-out-top-three {
    0% {
             transform: translateY(0);
      opacity: 1;
    }
    100% {

              transform: translateY(-1442px);
      opacity: 1;
    }
  }

 
  @keyframes slide-out-top-four {
    0% {
             transform: translateY(-298px);
      opacity: 1;
    }
    100% {

              transform: translateY(-1752px);
      opacity: 1;
    }
  }

  .container2{
    position: absolute;
    background: black;
    top: 100vmin;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 7vmin;
    text-align: center;
  }

  .menuheader{
    letter-spacing: 1vmin;
    font-size: 5vmin;
    font-weight: bolder;
    color: red;
  }
  .menusubheader{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.3vmin;
  }

.menuitems{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 150px 20px;
    color: rgb(238, 80, 80);
}

.subcontainer2{
    border: black;
    border-style: solid;
    border-radius: 10px;
    display: block;
    margin: 1vmin 45vmin;
    box-shadow: 0px 0px 20px 1px white;
}

.thumbnail{
    position: relative;
    z-index: 0;
    text-decoration: none;
    color: rgb(255, 176, 176);
}

.thumbnail:hover{
    background-color: transparent;
    z-index: 50;
}

.thumbnail img{
    width: 300px;
    border-radius: 10px;
}

.thumbnail span{ 
    position: absolute;
    padding: 5px;
    left: -1000px;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.thumbnail span img{ 
    border-width: 0;
    padding: 2px;
}

.thumbnail:hover span{ 
    visibility: visible;
    top: 0;
    left: 60px; 
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
    0% {
              transform: scale(0);
      opacity: 1;
    }
    100% {
              transform: scale(1);
      opacity: 1;
    }
  }


#aboutustext{
font-size: 60px;
text-indent: 3vw;
text-align: center;
color: red;

}

.history{
    float: left;
    width: 50vmin;
    margin-left: 20%;
    margin-top: 5%;
    text-indent: 5vmin;
    text-align: justify;
}

.aboutus-video{
    width: 30vmin;
    border-radius: 2vmin;
    float: right;
    margin-right: 50vmin;
    margin-bottom: 20vmin;
}

.socials{
    letter-spacing: 0.55vw;
}

.contactusform{
    position: absolute;
    margin-top: 75vmin;
    left: 35vmin;
  }
    .contactusheader h1{
      display: block;
      margin: 0 0 45px 0;
      color: #a13333;
      font-weight: 200;
      font-size: 60px;
    }
    
    .group { 
      position: relative; 
      margin-bottom: 25px; 
    }
    
    input {
      font-size: 25px;
      height: 25px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 500px;
      border: none;
      outline: none;
      border-bottom: 1px solid #B1B1B1;
      color: #B1B1B1;
      background: black;
      opacity: 0.5;
      transition: 0.2s ease;
      resize:both
    }
    
    input:focus {
      outline: none;
      opacity: 1;
    }
    
    label {
      color: white; 
      font-size: 13px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 15px;
      opacity: 0.8;
      transition: 0.2s ease all; 
    }
    
    input:focus ~ label, input:valid ~ label {
      top: -10px;
      font-size: 12px;
      color: #B3541E;
      opacity: 1;
    }
    
    .highlight {
      position: absolute;
      height: 60%; 
      width: 500px; 
      top: 25%; 
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
  
    .send-btn{
      color: white;
    }
    
    input:focus ~ .highlight {
      animation:inputHighlighter 0.3s ease;
    }



    .footer{
        position: absolute;
        margin-top: 140vmin;
    }
    .fa{
        font-size: 1.5vw;
        color: rgb(190, 55, 55);
        text-decoration: none;
    }
    
    .fa:hover{
        color: white;
        transition: 200ms;
    }
  
    .loca{
        position: absolute;
        left: 58%;
        margin-top: 75vmin;
    }
